{% extends "base.html" %}
{% block mainbody %}
<a href='home' class='i f3 link dim br1 ph3 pv2 mb2 dib light-red bg-white'>RateBuckeyeProfessor</a>
<div class="pa4 lh-copy ba-white">
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
	<a class="avenir f4 fw6 db white link hover-gray" href="data">Departments</a>
</div>

<script>


for (i = 0; i < 152; i++) {
	var button = document.createElement("button");
	button.innerHTML = "Department";
	document.getElementById("button").classList.add('');
	var body = document.getElementsByTagName("body")[0];
	body.appendChild(button);
	button.addEventListener ("click", function() {
		
		}
	)
};
</script>
{% endblock %}