{% extends "base.html" %}
{% block mainbody %}
<h1 class='i white '>RateBuckeyeProfessor</h1>
<input type="text" name="search" placeholder="Enter Department..." class="br4">
<a href='data' class='avenir green f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-white'>Go</a>
<br/>
<script>
for (i = 0; i < 152; i++) {

	var button = document.createElement("button");
	button.innerHTML = "Do Something";
	var body = document.getElementsByTagName("body")[0];
	body.appendChild(button);
	button.addEventListener ("click", function() {
 	alert("did something");
		}
	)
};
</script>
{% endblock %}